<div id="viewtableDies" ng-controller="dietsController">
    <select size="6" class="form-control" ng-model="x.diet_id" required>
        <option ng-repeat="x in diets" value="{{x.diet_id}}">{{x.title}}</option>
    </select>
</div>

<div id="viewtable" ng-controller="resourceController">
    <table class="table" ng-model="x.diet_id">
        <tr>
  
            <th>Title</th>
           
            
        </tr>
        <tr ng-repeat="y in resources">
        
            <td>{{y.title}}</td>
          
           
        </tr>
    </table>
</div>